
.App-logo {
    height: 35px;
    /*padding: 10px 0 10px 40px;*/
 }
 
 .App-header {
    background-color: #1D428A;
    display: flex;
    align-items: left;
    box-shadow: -1px 0 5px 0 #1D428A;
    margin-bottom: 70px;
    padding: 10px 0 10px 40px;
 }
 